<div class="success-notice-message">
</div>
<div class="row">
  <div class="col-sm-12 centered">
    <%= link_to 'Send A Message!', new_message_path, remote: true, class:'add-message'%>
    <h1>Messages</h1>
  </div>
</div>

<div class="messages">
  <%= render 'messages' %>
</div>

<div class="spacer">
</div>
