<div class="success-notice">
</div>
<div class="centered">
  <%= link_to 'Add A Contact', new_contact_path, remote: true, class:'add-contact' %>
  <h1>Address Book</h1>
</div>

<div class="contacts-list">
  <%= render 'contacts_table' %>
</div>
<div class="spacer">
</div>
