/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
 }
.jumbotron{
  background-image: url('http://i.huffpost.com/gen/1752628/images/o-TEXTING-facebook.jpg');
  background-size: cover;
  background-position: center;
}

.message a{
  color:purple;
    &:hover{
      text-decoration: none;
      color:#DB70DB;
    }
}

.messages{
  text-align:center;
}

.jumbotron h1{
  font-size:100px;
  font-family:monospace;
  color:#447a5f;
}

.brand-name{
}

.btn-unique{
  background-color:#fa6385;
  color:white;
    &:hover{
      background-color: #f98ca4;
      color:white;
    }
}
